.btn-rectangle{
  display: inline-block;
  width: 150px;
  height: 80px;
  background-color: #000088;
  color: #FFFFFF;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
}
.btn-rectangle a{
  color: #FFFFFF;
}
footer div{
  margin: 15px auto;
}

footer p{
  margin: 0 15px 0 15px;
}

footer .left{
  float: left;
}

footer .right{
  float: right;
}
