<nav class="navbar navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
     <logo></logo>
     <h3>{{vm.title}}</h3>
     <div class="navbar-btn">
          <div class="btn-cabecera" ng-repeat="button in vm.buttons" ng-click="button.click">
            <a href="button.url">
              <span class="glyphicon glyphicon-{{button.image}}" aria-hidden="true"></span>
              <p>{{button.name}}</p>
              <sub>{{button.subtitle}}</sub>
            </a>
          </div>
     </div>
    </div>
  </div>
</nav>
